{% extends "layout.html" %} {% block head %} {{ super() }}


      <div id="form">
        <h2>Entre em contato</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
          odio, consectetur deserunt amet possimus ratione repudiandae labore
          repellendus repellat quidem consequuntur totam ut itaque aperiam velit
          iste corrupti rem placeat?
        </p>
        <hr />

        <form>
          Seu e-mail: <br />
          <input type="mail" />
          <br />
          Assunto: <br />
          <input type="text" />
          <br />
          Descrição: <br />
          <textarea name="text-area" id="text" cols="30" rows="3"></textarea>
          <button type="submit">Enviar</button>
        </form>
      </div>
    </div>
    {% endblock %}
