{% extends "layout.html" %} {% block head %} {{ super() }}


      <div id="form">
        <h2>Entre em contato</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur
          odio, consectetur deserunt amet possimus ratione repudiandae labore
          repellendus repellat quidem consequuntur totam ut itaque aperiam velit
          iste corrupti rem placeat?
        </p>
        <hr />

        <form method="post" onsubmit="status()">
          Seu e-mail: <br />
          <input type="mail" name="email" required/>
          <br />
          Assunto: <br />
          <input type="text" name="assunto" required/>
          <br />
          Descrição: <br />
          <textarea name="descricao" id="text" cols="30" rows="3" required></textarea>
         <input type="submit">
        
        </form>
       
      </div>
    </div>
    <script>
      function status(){
        alert('Mensagem enviada com sucesso!')
      }
     </script>
    {% endblock %}
